@import "tailwindcss";

:root {

  /* Colores principales */

  --primary: #2E7D32;
  --primary-hover: #256728;

  --secondary: #1A2B4C;
  --secondary-hover: #13203A;

  /* Fondo */

  --background: #F5F7FA;
  --surface: #FFFFFF;

  /* Texto */

  --text: #1A1A1A;
  --text-secondary: #6B7280;

  /* Bordes */

  --border: #E5E7EB;

  /* Estados */

  --success: #4CAF50;
  --error: #E53935;
  --warning: #FFA726;

  /* Sombras */

  --shadow-sm: 0 2px 8px rgba(0,0,0,.05);
  --shadow-md: 0 6px 18px rgba(0,0,0,.08);

  /* Radios */

  --radius: 14px;

  /* Equipos */

  --blue-team: #0066FF;
  --red-team: #FF3333;

}

body{
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

h1,h2,h3,.logo{
  font-family: var(--font-montserrat);
}

button{
  cursor:pointer;
  transition:.2s;
}

*{
  box-sizing:border-box;
}